.billing_form .form_group input{
    border: 1px solid var(--card-bg-01);
}

.checkout_cart{
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.checkout_cart h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout_cart h6{
    margin-bottom: 20px;
}

.checkout_cart h4{
    border-top: 1px solid rgba(221, 221, 221, 0.253);
    padding-top: 20px;
    margin-bottom: 40px;
}
.buy__btn{
    background: white;
    color: black;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
}