
.success{
    background: var(--card-bg-01);
    padding: 45px;
    border-radius: 25px;
}

.description a{
    color: red;
}
.email-msg{
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}
.thank{
    color: var(--primary-color);
    font-weight: bold;
}
.description{
    color: #000;
}

